h1 {
    color: orange;
}

.avatar {
    width: 500px;
    display: block;
    margin: 0 auto;
}

table {
    font-size: 25px;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #868585;
}

td:hover {
    background-color: darkgrey;
    cursor: pointer;
}

th {
    padding: 12px 28px;
}

td {
    padding: 12px;
}

table tr:nth-child(odd) {
    background-color: rgba(211, 214, 220, 0.398);
}

table tr:nth-child(even) {
    background-color: white;
}

table tr:nth-child(1) {
    background-color: skyblue;
}

.Input_Name {
    font-size: 18px;
    border: 1px solid ecf0f1(19, 37, 141);
    border-radius: 10px;
}

.option_lop {
    font-size: 18px;
    border: 1px solid ecf0f1(19, 37, 141);
    border-radius: 5px;
}

button {
    font-size: 16px;
    background: #ecf0f1;
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 3px;
    border-radius: 20px;
    padding: 12px 28px;
    border: 2px solid #e74c3c;
    transition: all 0.25s ease;
}

button:hover {
    cursor: pointer;
    background-color: #e74c3c;
}

#ContactToMe {
    font-size: 30px;
    color: #c0392b;
    align-items: center;
    display: flex;
    justify-content: center;
}

#font_social {
    align-items: center;
    display: flex;
    justify-content: center;
}

#facebook {
    font-size: 15px;
    margin-right: 50px;
}

#instagram {
    font-size: 15px;
    margin-right: 50px;
}

#twitter {
    font-size: 15px;
}

#menu {
    font-size: 30px;
}